.App {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.App-header h3 {
  margin-bottom: 5px;
}

.App-link {
  color: #8bb0d3;
}