.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.App-pic {
  height: 45vmin;
  width: 75vmin;
  margin: 3vh 0 2vh 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.App-pic img {
  position: absolute;
  height: 45vmin;
  width: 75vmin;
  border-radius: 8px;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

  object-fit: cover;
}

.App-pic img.top:hover {
  opacity:0;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-workflow {
  width: 75vmin;
  margin: 3vh 0 4vh 0;
  border-radius: 8px;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
  padding: 8vw 8vw 8vw 8vw;
}

.App-header h5 {
  font-size: calc(7px + 2vmin);
}

.App-header p {
  font-size: calc(7px + 2vmin);
  margin: 2vh 0 2vh 0;
  width: 75vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header span {
  font-size: calc(6px + 1.5vmin);
  margin: 0.25vh 2vw 0.25vh 2vw;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2, h3, h5 {
  margin: 2vh 0 2vh 0;
  width: 75vmin;
}

body {
  background-color: #2b3444;
}